<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Producto</title>
  <!-- Agrega el enlace a tus estilos CSS -->
  <link rel="stylesheet" href="/css/actualizarProducto.css">
</head>
<body>
  <h1>Actualizar Producto</h1>

  <!-- Enlace/botón para ir a la página de aumento general -->
  <form action="/admin/aumento-general" method="GET" class="enlace-aumento-general">
    <button type="submit">Ir a Aumento General</button>
  </form>

  <!-- Formulario de búsqueda -->
  <form class="formulario-busqueda" action="/admin/actualizar-producto" method="GET">
    <label for="busqueda">Buscar por ID:</label>
    <input type="text" id="busqueda" name="busqueda" required>
    <button type="submit">Buscar</button>
  </form>

  <% if (producto) { %>
    <% if (productoActualizado) { %>
      <!-- Detalles del producto actualizado -->
      <div class="producto-actualizado">
        <p>Producto actualizado:</p>
        <ul>
          <li>ID: <%= producto.id %></li>
          <li>Precio: <%= producto.precio %></li>
          <li>Descripción: <%= producto.descripcion %></li>
          <li>Imagen: <img src="<%= producto.imagen %>" alt="Imagen del producto"></li>
          <!-- Agrega aquí los detalles adicionales necesarios -->
        </ul>
      </div>
      <!-- Enlace para volver a la página principal -->
      <a href="/" class="volver-enlace">Volver a la página principal</a>
    <% } else { %>
      <!-- Producto encontrado, mostrar detalles y formulario de actualización -->
      <img src="<%= producto.imagen %>" alt="Imagen del producto">

      <div class="formulario-actualizar">
        <h2>Actualizar Producto</h2>
        <form action="/admin/actualizar-producto/<%= producto.id %>" method="POST" enctype="multipart/form-data">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" value="<%= producto.precio %>" required>

          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" name="descripcion" required><%= producto.descripcion %></textarea>

          <!-- Input para cambiar la imagen -->
          <label for="imagen">Cambiar Imagen:</label>
          <input type="file" id="imagen" name="imagen" accept="image/*">

          <!-- Puedes agregar aquí los campos adicionales necesarios -->

          <button type="submit">Actualizar</button>
        </form>
      </div>
    <% } %>
  <% } else if (busquedaId) { %>
    <!-- Mensaje de "Producto no encontrado" para resultados de búsqueda vacíos -->
    <p>Resultados de la búsqueda: No se encontraron productos</p>
  <% } %>
</body>
</html>
