<!-- index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BetoStore</title>
</head>
<body>
  
    <%- include(header) %>

  <main>

    <%- include('hero') %> 

    <%- include('productosDestacados') %>

    <%- include('presentacion') %>

  </main>
  
  <%- include('footer') %>

  </body>
</html>
