<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BetoStore</title>
</head>
<body>
  <%- include(header) %>
  <main>
    <div class="hero">
      <h1>Bienvenido a BetoStore</h1>
      <p>Encuentra los mejores productos de anime aquí.</p>
    </div>




<!-- Sección de productos destacados -->
<section class="productos-destacados">
  <h2>Productos Destacados</h2>
  <% for (let i = 0; i < productosDestacados.length; i++) { %>
  <div class="producto-destacado producto-destacado-custom"> <!-- Agrega la clase producto-destacado-custom aquí -->
    <div class="etiqueta-descuento"><%= productosDestacados[i].descuento %></div>
    <img src="<%= productosDestacados[i].imagen %>" alt="Producto <%= i + 1 %>">
    <h3><%= productosDestacados[i].nombre %></h3>
    <p><%= productosDestacados[i].descripcion %></p>
    <a href="/producto/<%= productosDestacados[i].id %>">Ver Detalles</a>
  </div>
  <% } %>
</section>

<!-- Sección de presentación -->
<section class="presentacion">
  <div class="presentacion-contenedor">
    <div class="presentacion-imagen">
      <img src="/images/logo.png" alt="Logo de la tienda">
    </div>
    <div class="presentacion-texto">
      <h2>¡Esto es BetoStore!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget semper velit, non auctor ex.
        Sed eu mauris leo. Duis vel ex id justo ullamcorper venenatis. Vivamus vulputate ligula non arcu
        sodales, ac vestibulum nunc auctor.
      </p>
    </div>
  </div>
</section>


  </main>
  
  <%- include('footer') %>

  
</body>
</html>
