<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BetoStore - Resultados de tu Búsqueda</title>
</head>
<body> 
  <%- include(header) %>
  
    <section class="resultados">
        <h1>Resultados de la búsqueda</h1>
        <% for (let i = 0; i < resultados.length; i++) { %>
          <div class="producto">
            <img src="<%= resultados[i].imagen %>" alt="Producto <%= resultados[i].id %>">
            <div class="descripcion">
              <h2>Producto <%= resultados[i].id %></h2>
              <p><%= resultados[i].descripcion %></p>
            </div>
          </div>
        <% } %>
      </section>
      
      
      
      
</body>
</html>
